.Kopfzeile {
    background-color: #27474d ;
    background-color: #10293a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
    margin: -10px -10px 0px -10px;;
    font-size: large;
    color: white;
    
}



a { 
    color: whitesmoke; }
a{
    text-decoration: none;
}


.Infozeile {
    text-align: center;
    background-color: #27474d;
    background-color: #1ebf9c;
    padding: 20px;
    margin: -10px -10px 0px -10px;
    color: white;
    
}

body { 
    background-color: #243246;
    background-color: #c6d0d7;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin: 20px;
}


.Rechte {
    text-align: center;
    color: whitesmoke;
    color: black;
    padding: 20px;
}



.Impressum {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carousel {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 45%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
